<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.s3.mapper.ProductMapper">
    <sql id="where">
        <where>
            <if test="productName != null and productName != ''">
                productName like CONCAT('%',#{productName},'%')
            </if>
            <if test="categoryId != null and categoryId != -1">
                and productCategoryId = #{categoryId}
            </if>
            <if test="productIsEnabled != null">
                and productIsEnabled IN
                <foreach item="productIsEnabled" index="index" collection="list" open="(" close=")" >
                    #{item}
                </foreach>
            </if>
            <if test="hPrice != null and lPrice != null">
                and productPrice between #{lPrice} and #{hPrice}
            </if>
        </where>
    </sql>
    <select id="getProductList" resultType="com.s3.pojo.Product">
        select * from product
        <include refid="where"></include>
        limit #{from},#{pageSize}
    </select>
    <select id="getCount" resultType="int">
        select count(*) from product
        <include refid="where"></include>
    </select>

    <!-- 查询轮播图片 -->
    <select id="getImg" resultType="com.s3.pojo.Product">
        select * from product where productIsEnabled=2 limit 6
    </select>
    <select id="getProductByCid" resultType="com.s3.pojo.Product">
        select * from product where productCategoryId=#{cid} and productIsEnabled in(0,2)
        order by productId desc limit 8
    </select>

    <select id="getListByName" resultType="com.s3.pojo.Product">
        select * from product
        <where>
            <if test="productName != null and productName != ''">
                productName like concat('%',#{productName},'%')
            </if>
            <if test="cid != null and cid != -1">
                and productCategoryId = #{cid}
            </if>
        </where>
        and productIsEnabled in(0,2)
        limit 0,20
    </select>
    <select id="getDetailById" resultType="com.s3.pojo.Product">
        select * from product where productId = #{pid}
    </select>

</mapper>